nav a{
    margin-right: 100px;
    font-size: larger;
    font-weight: bold;
    gap: 80px;   
    
}

nav a.active{
    text-decoration: underline;
    color: rgb(255, 0, 43);
    background-color: rgb(181, 213, 195);
}
